#error {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--tg-theme-destructive-text-color, red);
    font-size: large;
    text-align: center;
}
