.transaction {
  display: flex;
  flex-direction: column;
  margin: 16px;

  & > .info {
    display: flex;
    flex-direction: row;

    & > .timestamp {
      display: flex;
      flex-direction: column;

      color: var(--tg-theme-hint-color);
      text-align: justify;
      text-justify: auto;
      min-width: 40px;
      margin-inline-end: 8px;

      @media (pointer: coarse), (hover: none) {
        &::after {
          content: "";
        }
        &:hover::after {
          content: attr(title);
          position: absolute;
          z-index: 2;
          background-color: var(--tg-theme-bg-color);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
            0px 6px 10px 0px rgba(0, 0, 0, 0.14),
            0px 1px 18px 0px rgba(0, 0, 0, 0.12);
          padding: 0 8px;
          height: 36pt;
          line-height: 36pt;
          font-size: 16pt;
          transition: 0.1s;
        }
      }

      & > .month {
        font-size: 12pt;
        line-height: 12pt;
        text-transform: uppercase;
      }

      & > .date {
        font-size: 24pt;
        line-height: 24pt;
      }
    }

    & > .title {
      display: flex;
      flex-direction: column-reverse;
      font-size: 18pt;
      flex-grow: 1;
      margin-inline: 8px 8px;
      max-height: 36pt;
      overflow: hidden;

      .spacer {
        display: block;
        width: 25vw;
      }
    }

    & > .amount {
      display: flex;
      flex-direction: column;

      color: var(--tg-theme-link-color);
      text-align: end;

      margin-inline-start: 8px;

      & > .currency {
        font-size: 12pt;
        line-height: 12pt;
        text-transform: uppercase;
      }

      & > .quantity {
        font-size: 24pt;
        line-height: 24pt;
      }
    }
  }

  & > .participants {
    display: none;
  }
}
