.history {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li:not(:last-child) {
        border-bottom: 1px solid var(--tg-theme-section-separator-color, var(--tg-theme-hint-color));
    }
}
